NODE_ENV=production
APP_NAME=node-observability-deployment-lab
PORT=3000
LOG_LEVEL=info
LOG_PRETTY=false
APP_INTERNAL_PORT=3000

MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/node_observability_lab?retryWrites=true&w=majority

CORS_ORIGIN=*
ENABLE_CHAOS_ROUTES=false
CHAOS_MAX_DELAY_MS=10000
CHAOS_MAX_CPU_MS=5000
CHAOS_MAX_MEMORY_MB=100
